##email=info@mylandmarktech.com
always-auth=true
registry=<> _auth=<> email=<> always-auth=true
//174.129.137.239:8181/mylandmarktech/repository/landmark-nodejs/:_auth=YWRtaW46YWRtaW4xMjM=
allowRepublish=true
